In [1]:
#04 March 2021
#To read names in csv from misc file and count unique names, total number of names, etc

In [2]:
import pandas as pd
import csv

In [3]:
df = pd.read_csv('people_match_nonmatch_text.csv',header=None, names=['name', 'name_id', 'viaf', 'catnum', 'section', 'page_nu', 'text', 'xml'])

In [4]:
# only show results that have no name_id
df[df.name_id.isnull()]

,name,name_id,viaf,catnum,section,page_nu,text,xml
739,Duke,NaN,NaN,['143'],Impressions of Seals &c.,EPF108491220,143.\n Horn soit qui mal y pense : ...,"<div3 xmlns=""http://www.tei-c.org/ns/1.0"" xmln..."

In [5]:
# count how many has null in name_id
len(df[df.name_id.isnull()])

1

In [6]:
# count how many rows in the csv
len(df)

1051

In [7]:
# how many blank names exist. answer = 2
df[df.name.isnull()]

Empty DataFrame
Columns: [name, name_id, viaf, catnum, section, page_nu, text, xml]
Index: []

In [8]:
# Number of unique name_ids
len(df.name_id.unique())

524

In [9]:
# Get df with viaf not null
viaf_not_null = df[df.viaf.notnull()]
len(viaf_not_null.name_id.unique())

258

In [10]:
unique_names = df.name_id.unique()

In [11]:
with open('unique_names.csv', 'w', newline='') as csvfile:
    spamwriter = csv.writer(csvfile, delimiter=' ',
                            quotechar='|', quoting=csv.QUOTE_MINIMAL)
    for name in unique_names:
        spamwriter.writerow([name])

In [12]:
# amend names in dataframe to split by Mr Smith to two columns instead of one
df = pd.read_csv('people_match_nonmatch_text_050321v5.csv')

In [32]:
df = df.rename(columns={'Name as appears in <persName)': 'names'})
df = df.rename(columns={'name_id in the header': 'name_id'})

In [33]:
df.names.str.split(expand=True).to_csv('test_output_of_split_names.csv')

In [35]:
'#Mr._Amyand'.lower()

'#mr._amyand'

In [46]:
#To create a list of Brown, Browne and Cadogan
df[(df.name_id.str.lower().str.contains('brown')) | (df.name_id.str.lower().str.contains('cadogan'))].to_csv('brown_cadogan.csv')