In [4]:
import pandas as pd
import os
from ast import literal_eval

In [13]:
files = [x for x in os.listdir('./csv') if 'xlsx' in x or 'csv' in x]
print(files)

['underlined_july_21.csv', 'people_places07032022.csv', 'underlined_july_21.xlsx']

In [73]:
underlined_df = pd.read_csv('./csv/underlined_july_21.csv', encoding='latin-1')

underlined_df.catnum = underlined_df.catnum.apply(literal_eval)
underlined_df.catnum = underlined_df.catnum.str[0]

In [74]:
underlined_df.catnum = underlined_df.catnum.str.replace('*', '',regex=False)
underlined_df.catnum = underlined_df.catnum.fillna('0')
underlined_df.catnum = underlined_df.catnum.astype('int32')

In [92]:

# ,errors='ignore')
underlined_df = underlined_df.sort_values(by=['label','catnum'])

In [94]:
underlined_df.to_csv('./csv/underlined_july_21_revised.csv')

In [84]:
people_path = './csv/people_places07032022.csv'
people_df = pd.read_csv(people_path, encoding='latin-1')

In [85]:
people_df.columns
people_df = people_df.rename(columns={'ï»¿Cat name': 'label', 'Catnum': 'catnum'})

In [86]:
people_df.catnum = people_df.catnum.apply(literal_eval)
people_df.catnum = people_df.catnum.str[0]

In [87]:
people_df.head()

,label,Person,Person ID,Place,Place ID,catnum
0,Miscellanies.,['Mr. Amyand'],['#Mr._Amyand'],['East Indies'],['#East_Indies'],1799
1,Miscellanies.,['Mr. Theobalds'],['#James_Theobalds_Esqr'],['Norway'],['#Norway'],1801
2,Miscellanies.,['Mr. Roberts'],['#Mr_Roberts'],[],[],1806
3,Miscellanies.,['Mr. Mc. Cormick'],['#MrMC'],['Lisbon'],['#Lisbon'],1807
4,Miscellanies.,[],[],['Lisbone'],['#Lisbon'],1808

In [88]:
people_df.catnum = people_df.catnum.str.replace('*', '',regex=False)
people_df.catnum = people_df.catnum.fillna('0')
people_df.catnum = people_df.catnum.astype('int32') 
people_df = people_df.sort_values(by=['label','catnum'])

In [89]:
people_df.to_csv('./csv/people_places_revised.csv')

In [90]:
people_df

,label,Person,Person ID,Place,Place ID,catnum
1361,Agate cups botles spoons &c.,['Mr. Marlow'],['#Mr._Marlow'],[],[],8
1362,Agate cups botles spoons &c.,['Mr. Marlow'],['#Mr._Marlow'],[],[],11
1363,Agate cups botles spoons &c.,['Mr. Marlow'],['#Mr._Marlow'],[],[],13
1364,Agate cups botles spoons &c.,['King Charles the first'],['#Charles_I'],[],[],19
1365,Agate cups botles spoons &c.,['Mrs. Hayes'],['#Mrs_Hayes'],[],[],28
...,...,...,...,...,...,...
1332,Pictures &c.,"['Mr. Ray', 'Faithorn']","['#John_Ray', '#William_Faithorne']",[],[],407
1333,Pictures &c.,['Mrs. A. Thornburgh'],['#Mrs._Thornburgh'],['antwerp'],['#Antwerp'],468
1334,Pictures &c.,['Mr. Halett'],['#Mr._Halett'],['Siam'],['#Siam'],469
1335,Pictures &c.,"['Mr. Thomas Briton', 'Woollaston']","['#Thomas_Britton', '#John_Wollaston']",['London'],['#London'],470
1336,Pictures &c.,"['Duke of Cumberland', 'Mr. Jackson']","['#Duke_of_Cumberland', '#Mr_Jackson']",[],[],471

In [96]:
merged_df = pd.merge(underlined_df,people_df,on=['label', 'catnum'],how='outer')

In [97]:
merged_df.to_csv('./csv/merged_data.csv')

In [98]:
inner_merged_df = pd.merge(underlined_df,people_df,on=['label', 'catnum'])

In [99]:
inner_merged_df.to_csv('./csv/inner_merged_data.csv')

MERGING IN 3rd Spreadsheet (Collectors)

In [100]:
ea_df = pd.read_csv('csv/revised_EA_names.csv')

In [102]:
ea_df.columns

Index(['Unnamed: 0', 'Name', 'Catalogue', 'Catnum', 'Keyword', 'Place',
       'Dates', 'Profession'],
      dtype='object')

In [104]:
ea_df = ea_df.rename(columns={'Catalogue': 'label', 'Catnum': 'catnum'})

In [ ]:
ea_df.catnum = ea_df.catnum.astype('int32')

In [ ]:
final_merged_df = pd.merge(merged_df,ea_df,on=['label', 'catnum'],how='outer')